(
A.ss20,
B.ss20,
C.ss20,
D.ss20,
E.ss20,
F.ss20,
G.ss20,
H.ss20,
I.ss20,
J.ss20,
K.ss20,
L.ss20,
M.ss20,
N.ss20,
O.ss20,
P.ss20,
Q.ss20,
R.ss20,
S.ss20,
T.ss20,
U.ss20,
V.ss20,
W.ss20,
X.ss20,
Y.ss20,
Z.ss20,
a.ss20,
b.ss20,
c.ss20,
d.ss20,
e.ss20,
f.ss20,
g.ss20,
h.ss20,
i.ss20,
j.ss20,
k.ss20,
l.ss20,
m.ss20,
n.ss20,
o.ss20,
p.ss20,
q.ss20,
r.ss20,
s.ss20,
t.ss20,
u.ss20,
v.ss20,
w.ss20,
x.ss20,
y.ss20,
z.ss20,
.notdef
)